<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <style media="screen">
    .secound-content {
      background-color: lightskyblue;
      padding: 15px;
    }
    .bordernow {
      border: 2px solid #431;
      width: 100px;
      margin: auto;
      padding: 1px;
    }
  </style>
  <body>
    <section class="secound-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h4 class="text-center">Why Choose Us</h4>
            <div class="bordernow"></div><br>
            <p><i class="far fa-thumbs-up"></i> Travel Guidelines</p>
            <p><i class="fas fa-dollar-sign"></i> Best Price Guarantee</p>
            <p><i class="fas fa-globe-europe"></i> Destination <strong>250+</strong></p>
            <p>Tour Packages <strong>1000+</strong></p>
          </div>
          <div class="col-sm-6">
            <h4 class="text-center">Our Services</h4>
            <div class="bordernow"></div><br>
            <ul>
              <li>Flight Booking</li>
              <li>Hotel Booking</li>
              <li>Train Booking</li>
              <li>Domestic Tours</li>
              <li>International Tours</li>
              <li>Tracking</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
