<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="We would like to introduce ourselves as One of the well known travel agents in the name of New Balaji Tours & Travels located at Vashi, Navi Mumbai & we have started the branch in Anand Vallabh Vidhya Nagar, Gujrat." />
    <meta property="og:image" content="./img/logo.jpg">
    <meta name="keywords" content="new balaji tours & travels, balaji tours and travels packages, new balaji tours and travels mumbai, new balaji tours & travels mumbai, maharashtra" />
    <title>Welcome To New Balaji Tours And Travels</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="./css/responsive.css" media="screen and (max-width: 600px)">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="top-bar">
      <div class="container">
        <a href="mailto:info@newbalajitoursandtravels.com?subject=WebsiteFeedback"> <i class="fas fa-envelope"></i> info@newbalajitoursandtravels.com</a>
        <a href="tel:+917600977785" ><i class="fa fa-phone"></i> +91 7600977785 </a>
      </div>
    </div>
    <section class="frist">
      <div class="container">
        <div class="logo">
          <a href="http://newbalajitoursandtravels.com/index.html"><img src="./img/logo.jpg" alt="New Balaji Tour & Travels" title="New Balaji Tours And Travels"></a>
        </div>
        <div class="info-phone">
          <a href="https://chat.whatsapp.com/invite/9dyoyK8NBpdDMChdzpN2Gq" type="whatsapp"><i class="fab fa-whatsapp" id="whatsapp"></i> Join Grup</a>
        </div>
      </div>
    </section>
    <section class="nav-main">
    <div class="container">
      <div class="topnav" id="myTopnav">
        <a href="http://newbalajitoursandtravels.com/index.html" >Home</a>
        <a href="http://newbalajitoursandtravels.com/pakages.html">Tour Pakages</a>
        <a href="http://newbalajitoursandtravels.com/tickets.html">Rail, Bus & Flight</a>
        <a href="http://newbalajitoursandtravels.com/visa.html">Passport & Visa</a>
        <a href="https://www.ftcash.com/newbalajitoursntravels" class="payment">Make A Payment</a>
        <a href="http://newbalajitoursandtravels.com/contact.html">Contact Us</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </div>
    </div>
    <script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
    </script>
  </section>
  <section class="slide-show">
    <div class="slideshow-container">

  <div class="mySlides fade">
    <img src="./img/main1.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./img/main2.jpg" style="width:100%">

  </div>

  <div class="mySlides fade">
    <img src="./img/main3.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./img/main4.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./img/main5.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./img/main6.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./img/main7.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./img/main8.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./img/main9.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./img/main10.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./img/main11.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="./img/main12.jpg" style="width:100%">
  </div>

  </div>
  <br>

  <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>

  <script>
  var slideIndex = 0;
  showSlides();

  function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
         slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
  }
  </script>

  </section>
<section class="welcome">
  <div class="container">
    <div class="col-md-6">
      <h2 class="deepskyblue">Welcome To ,</h2>
      <h1>New Balaji Tours And Travel's</h1>
      <p>New Balaji Tours & Travels is a name that needs no introduction in the world of tour and travel industry. With the kind of experience and expertise we possess in offering a range of travelling solutions, you can be rest assured to get the best of the services. This page is a glimpse into the information and several features of New Balaji Tours & Travels. Although we have tried to incorporate as much information as we can, if you need to know more about us then just either give us a call or drop us a mail.</p>
    </div>
    <div class="col-md-6">
      <img src="./img/120.jpeg" alt="new balaji tours and travels" width="100%">
    </div>
  </div>
</section>
<section class="why">
  <div class="container">
    <div class="head-text">
      <h1 class="text-center">Why Choose Us</h1>
      <div class="bordernow"></div>
    </div>
      <div class="col-md-6">
        <i class="fas fa-dollar-sign" id="vectr"></i>
        <h2>Best Price Guarantee</h2>
      </div>
      <div class="col-md-6">
        <i class="fas fa-thumbs-up" id="vectr"></i>
        <h2>Travel Guidelines</h2>
      </div>
        <div class="col-md-6">
          <img src="./img/happy.svg" alt="" id="vectr-in" />
          <h2>Happy Clients</h2>
          <h3>500+</h3>
        </div>
        <div class="col-md-6">
          <img src="./img/travel.svg" alt="" id="vectr-in" />
          <h2>Destination</h2>
          <h3>250+</h3>
        </div>
        <div class="col-md-6">
          <img src="./img/map.svg" alt="" id="vectr-in" />
          <h2>Tour Packages</h2>
          <h3>1000+</h3>
        </div>
    </div>
  </div>
</section><br>
<section class="special">
  <div class="container">
    <h1 class="text-center">Special Pakages</h1>
    <div class="bordernow"></div><br>
    <div class="col-md-4">
      <div class="card">
        <img src="./img/d-one.jpg" alt="New Balaji Tour And Travels" style="width:100%">
        <div class="card-inner">
          <h2>Amazing Arunalchal</h2>
          <p class="title">4 Night / 5 Days</p>
          <p>✈ Accommodation in twin/ double sharing.</p>
          <p>✈ Breakfast and dinners at hotel.</p>
          <p>✈ Airport / Railway station transfer (select the city from drop down).</p>
          <p>✈ Gst extra as applicable.</p>
          <p><a href="http://newbalajitoursandtravels.com/pakages/d-one.php" class="button">Book Now!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="./img/d-8.jpg" alt="New Balaji Tour And Travels" style="width:100%">
        <div class="card-inner">
          <h2>Romantic Andaman</h2>
          <p class="title">6 Night / 7 Days</p>
          <p>✈ Accommodation in twin/ double sharing.</p>
          <p>✈ Breakfast and dinners at hotel.</p>
          <p>✈ Airport / Railway station transfer (select the city from drop down).</p>
          <p>✈ Gst extra as applicable.</p>
          <p><a href="./pakages/d-eight.php" class="button">Book Now!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="./img/d-11.jpg" alt="New Balaji Tour And Travels" style="width:100%">
        <div class="card-inner">
          <h2>Stony Maharashtra</h2>
          <p class="title">13 Night / 14 Days</p>
          <p>✈ Accommodation in twin/ double sharing.</p>
          <p>✈ Breakfast and dinners at hotel.</p>
          <p>✈ Airport / Railway station transfer (select the city from drop down).</p>
          <p>✈ Gst extra as applicable.</p>
          <p><a href="./pakages/d-nine.php" class="button">Book Now!</a></p>
        </div>
      </div>
    </div>
    <div class="btn-center">
      <a href="http://newbalajitoursandtravels.com/pakages.html" class="btn">View More</a>
    </div>
  </div>
</section><br>
<section class="hot-deals">
  <div class="container">
    <h1 class="text-center">Our Succes!</h1>
    <div class="bordernow"></div><br>
    <div class="col-md-6">
      <div class="card">
        <img src="./img/jdone.jpg" alt="New Balaji Tour And Travels" style="width:100%">
        <div class="card-inner">
          <h2>Our Vashi,Mumbai Branch </h2>
          <p align="justify">
            Happy To Announce That New Balaji Tours & Travels Branch in Vashi, Mumbai Got Certificate For Best Service Review By Customers For 2017.
          </p><br>
          <p>User Rating : </p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span> <p>4 / 5</p>
        </div><br>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img src="./img/jdtwo.jpg" alt="New Balaji Tour And Travels" style="width:100%">
        <div class="card-inner">
          <h2>Our Anand Branch</h2>
          <p align="justify">
            Happy To Announce That New Balaji Tours & Travels Branch in Anand Got Certificate For Best Service Review By Customers For 2017.
          </p><br>
          <p>User Rating : </p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span> <p>5 / 5</p>
        </div><br>
      </div>
    </div>
</section>
<section class="hot-deals">
  <div class="container">
    <h1 class="text-center">Hot Deals</h1>
    <div class="bordernow"></div><br>
    <div class="col-md-4">
      <div class="card">
        <img src="./img/i-11.jpg" alt="New Balaji Tour And Travels" style="width:100%">
        <div class="card-inner">
          <h2>Singapore</h2>
          <p class="title">6 Night / 7 Days</p>
          <p>✈ Accommodation in twin/ double sharing.</p>
          <p>✈ Breakfast and dinners at hotel.</p>
          <p>✈ Airport / Railway station transfer (select the city from drop down).</p>
          <p>✈ Gst extra as applicable.</p>
          <p><a href="./pakages/i-11.php" class="button">Book Now!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="./img/i-3.jpg" alt="New Balaji Tour And Travels" style="width:100%">
        <div class="card-inner">
          <h2>Dubai</h2>
          <p class="title">6 Night / 7 Days</p>
          <p>✈ Accommodation in twin/ double sharing.</p>
          <p>✈ Breakfast and dinners at hotel.</p>
          <p>✈ Airport / Railway station transfer (select the city from drop down).</p>
          <p>✈ Gst extra as applicable.</p>
          <p><a href="./pakages/i-3.php" class="button">Book Now!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="./img/i-2.jpg" alt="New Balaji Tour And Travels" style="width:100%">
        <div class="card-inner">
          <h2>Bali</h2>
          <p class="title">6 Night / 7 Days</p>
          <p>✈ Accommodation in twin/ double sharing.</p>
          <p>✈ Breakfast and dinners at hotel.</p>
          <p>✈ Airport / Railway station transfer (select the city from drop down).</p>
          <p>✈ Gst extra as applicable.</p>
          <p><a href="./pakages/i-2.php" class="button">Book Now!</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a href="http://newbalajitoursandtravels.com/pakages.html" class="btn">View More</a>
  </div>
</section>
<section class="about-main">
  <div class="container">
    <div class="col-md-6">
      <h2>About New Balaji Tours And Travels</h2>
      <p>We established in the year 2008 with a view to cater the needs of guests visiting our Head Office in Vashi Navi Mumbai & now we will also cater our guest visiting our New Branch Of Anand Vallabh Vidhya Nagar Gujrat with their utmost satisfaction. We have the reputation of being one of the most reliable travel agents in Vashi, Navi Mumbai. The company has earned vast reputation of promptly attending the requirements of our guests.</p>
    </div>
    <div class="col-md-6">
      <img src="./img/aboutmain.jpeg" width="100%" alt="">
    </div>
  </div>
</section>
<section class="last">
  <div class="container">
    <div class="col-md-4">
      <h3><i class="fa fa-building" aria-hidden="true"></i> Head Office :</h3>
      <p>08, Shreenath Radha Krishna Mandir Lane,</p>
      <p>Sector 11, Vashi,</p>
      <p>Navi Mumbai-400703</p>
    </div>
    <div class="col-md-4">
      <h3><i class="fa fa-home" aria-hidden="true"></i> Branch Office :</h3>
      <p>9, Kamal Apartments,</p>
      <p> Opp. Vallabh Vidyanagar Police Station </p>
      <p>Vallabh Vidyanagar-388120</p>
    </div>
    <div class="col-md-4">
      <h3><i class="fa fa-user" aria-hidden="true"></i> Contact Us :</h3>
      <p><a href="tel:+917600977785" id="white">Phone : +91 7600977785</a></p>
      <p><a href="tel:+916351080030" id="white">Office : +91 6351080030</p>
      <p><a href="mailto:newbalajitoursntravels.02@gmail.com?subject=feedback" id="white">newbalajitoursntravels.02@gmail.com</a></p>
    </div>
  </div>
  <div class="container">
    <div class="social">
      <h3>Social Link</h3>
      <div class="bordernow"></div><br>
      <a href="https://www.facebook.com/NewBalajiToursNTravels"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/UCkSwt5zcOjE_ykqMmlntNsQ"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="map">
      <h3>Get Direction Here :</h3>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.805076052995!2d72.99848831446786!3d19.072305987089983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c149eaaaaac7%3A0xd3ff80c4d442645e!2sNEW+BALAJI+TOURS+N+TRAVELS!5e0!3m2!1sen!2sin!4v1521726810939" width="750" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="n-info">
      <p>&copy; All Right Served By New Balaji Tour And Travel</p>
      <p>Powered By :- <a href="" id="white" target="_blank">Narayan Web And Solution</a></p>
    </div>
    <div class="link-last">
      <a href="http://newbalajitoursandtravels.com/" id="grey">Home | </a>
      <a href="http://newbalajitoursandtravels.com/pakages.html" id="grey">Tour Pakages | </a>
      <a href="http://newbalajitoursandtravels.com/tickets.html" id="grey">Rail, Bus, Tickets | </a>
      <a href="http://newbalajitoursandtravels.com/visa.html" id="grey">Passport & Visa | </a>
      <a href="http://newbalajitoursandtravels.com/about.html" id="grey">About Us | </a>
      <a href="http://newbalajitoursandtravels.com/contact.html" id="grey">Contact Us</a>
    </div>
  </div>
  </div>
</section>
</body>
</html>
