html, body {
  background: #eee;
}
#vectr-in {
  width: 80px;
}
.checked {
  color: orange;
}
.top-bar {
  background: #333;
  padding: 7px;
  font-family: 'Bree Serif', serif;
  color: #eee;
}
.top-bar a {
  color: #eee;
  text-decoration: none;
  width: 100%;
}
.top-bar a:hover {
  color: #eee;
  text-decoration: none;
}
.top-bar .email-top {
  margin-left: 20px;
}
/* section frist */
section.frist {
  background-color: #fff;
  padding: 5px;
}
#whatsapp {
  font-size: 30px;
  color: green;
}
section.frist .logo {
  display: inline-block;
  float: left;
}
section.frist .logo img {
  width: 150px;
  padding-bottom: 5px;
}
div.w3-section {
  max-width: 650px;
  text-align: center;
  height: 500px;
}
section.frist .info-phone {
  float: right;
  margin-top: 29px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: black;
}
section.frist .info-phone a {
  color: black;
  text-decoration: none;
}
/* section menu */
section.nav-main {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding-bottom: 5px;
}
/* for resposive Topnav css code */
.topnav {
  overflow: hidden;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #fe6a6a;
  color: #fff;
  border-radius: 15px;
  text-decoration: none;
}

.payment {
  border: 3px solid blue;
  border-radius: 25px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  section.frist.logo {
    border: 1px solid red;
    background: red;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
/* section slideshow */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin:auto;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding:10px;
  position: absolute;
  background: deepskyblue;
  width: 100%;
  display: none;
  font-family: 'Montserrat', sans-serif;1
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  display: none;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.9s;
  animation-name: fade;
  animation-duration: 3.9s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* section welcome */
section.welcome {
  font-family: 'Bree Serif', serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
.deepskyblue {
  color: darkorange;
}
/* section why choose us */
section.why {
  font-family: 'Bree Serif', serif;
  color: #fff;
  background-color: #745c84;
}
section.why .head-text .bordernow {
  border-bottom: 4px solid #fe6a6a;
  width: 150px;
  margin: auto;
  padding-top: 5px;
}
#vectr {
  font-size: 60px;
  color:darkorange;
}
section.why .col-md-6 {
  text-align: center;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
}
.in-bg {
  padding: 10px;
  background-image: url('../img/inter.jpg');
  border: 1px solid red;
}
/* section special services */
section.special {
  font-family: 'Bree Serif', serif;
}
section.special p {
  text-align: justify;
}
section.special .bordernow {
  border-bottom: 4px solid #fe6a6a;
  width: 120px;
  margin: auto;
}
 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
section.special .btn-center {
  text-align: center;
}
section.special .btn {
  background-color: #fe6a6a;
  color: white;
  margin-top: 50px;
}
.card-inner {
  padding: 0 16px;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
section.hot-deals {
  font-family: 'Bree Serif', serif;
}
section.hot-deals .bordernow {
  border-bottom: 4px solid #fe6a6a;
  width: 70px;
  margin: auto;
  padding-top: 5px;
}
 section.hot-deals .btn-center {
  text-align: center;
  border: 1px solid red;
}
.btn {
  background-color: #fe6a6a;
  color: white;
  margin-top: 40px;
}
section.whowe {
  background-color: #fe6a6a;
  color: white;
  font-family: 'Bree Serif', serif;
}
section.whowe .main-header .bordernow {
  border-bottom: 4px solid #000;
  margin: auto;
  width: 100px;
  padding-top: 10px;
}
section.gallery {
  font-family: 'Bree Serif', serif;
}
section.gallery .bordernow {
  width: 50px;
  border-bottom: 4px solid orange;
}
section.gallery .col-md-4 {
  margin-bottom: 5px;
}
section.about-main {
  font-family: 'Bree Serif', serif;
  margin-top: 20px;
  margin-bottom: 10px;
}
section.last {
  font-family: 'Quicksand', sans-serif;
  background-color: deepskyblue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../img/footerbg.png');
  color: #fff;
}
section.last .social {
  padding: 15px;
  display: inline-block;
}
section.last .social .bordernow {
  width: 50px;
  border-bottom: 4px solid orange;
}
section.last .social a {
  color: #fff;
  font-size:35px;
  margin-right: 20px;
}
section.last .social a:hover {
  color: white;
}
section.last .map {
  float: right;
  display: inline-block;
  margin-top: 10px;
}
#white {
  color: white;
  text-decoration: none;
}
#grey {
  color: grey;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}
section.qoutes {
  margin-top: 25px;
  background: orange;
}
/* Slideshow container */
.custom-main {
  position: relative;
  background: orange;
}

/* Slides */
.myquotes {
  display: none;
  padding: 100px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: orange;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: black;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: white;}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.mail-contact {
  background: #fe6a6a ;
  padding: 30px;
  color: white;
}
.mail-contact input {
  color: black;
  padding: 2px;
}
.mail-contact .bordernow {
  border-bottom: 3px solid black;
  width: 170px;
  margin-bottom: 15px;
}
#mailbtn {
  padding: 5px;
  background-color: deepskyblue;
  border: 1px solid deepskyblue;
  font-weight: bold;
}
